PORT=4000

DB_DIALECT=mysql
DB_HOST=your_mysql_host
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password
DB_SSL=true

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=your_api_football_key
API_FOOTBALL_TIMEZONE=Asia/Phnom_Penh
